/*Declaração de variavel em CSS*/
/*root é o caminho raiz da pasta*/
:root{
    --vermelho:#e50914;
    --preto:#141414;
    --branco: #ffffff;
    --cinza: #627575;
    --cinza2: #303030;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background: var(--preto);
    font-family: 'Arial Black', Times, serif;
    color: var(--branco);
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

header{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url(/Projetos/Clone_Netflix/img/fundo.jpg);
    height: 600px;
    border-bottom: #222 8px solid;
}

body section{
    border-bottom: #222 8px solid;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
    margin-top: 20px;
}

.botao{
    margin-top: 20px;
}

.botao1{
    padding: 7px 20px;
    background: none;
    color: var(--branco);
    border: var(--branco) 1px solid;
    font-size: 15px;
    border-radius: 3px;
    margin-right: 30px;
}

option{
    background-color: var(--cinza);
}

.botao2{
    padding: 9px 20px;
    background-color: var(--vermelho);
    font-size: 15px;
    border-radius: 3px;
    margin-right: 30px;
}

.botao2 a{
    color: var(--branco);
    text-decoration: none;
}

.menu_info{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.info_p{
    font-size: 35px;
}

.info_p2{
    font-size: 20px;
    margin-top: 15px;
}

.info_p3{
    font-size: 15px;
    margin-top: 15px;
}

.campo_email{
    display: flex;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    background-color: var(--branco);
    border-radius: 3px;
    border: var(--cinza) 1px solid;
    
}

.campo_email input{
    width: 80%;
    height: 100%;
    border: none;
    padding: 0 10px;
    border-radius: 3px;
    color: var(--cinza);
    background: transparent;
}

.campo_email button{
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-size: 150%;
    cursor: pointer;
}

.campo_email button:hover{
    background-color: #f40612;
}

section{
    border-bottom: var(--cinza) 10px solid;
    padding: 40px;
}

section .container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items:center;
}

.sessao_p1{
    font-size: 50px;
}

.sessao_p2{
    font-size: 15px;
}

section .container_p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_lista{
    font-size: 15px;
}

.p_lista ul{
    margin-top: 50px;
}

.p_lista ul li{
    background-color: var(--cinza2);
    margin-left: 0px;
    padding: 20px;
    width: 700px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.p_lista i{
    float: right;
}

.sessao_p3{
    color: var(--cinza);
    margin-top: 30px;
    margin-left: 330px;
    
}
.sessao_p4{
    font-size: 12px;
    color: var(--cinza);
    margin-left: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}
.sessao_p5{
    font-size: 12px;
    color: var(--cinza);
    margin-left: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_q{
    display: flex;
    align-items:stretch;
    padding: 30px;
    margin-left: 250px;
}

.footer_btn{
    margin-left: 330px;
}

